.slider-homepage {
    --slider-height-percentage: 40%;
    --slider-transition-duration: 575ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 23px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #f5e51b;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #505c7c;
    --control-bullet-active-color: #f5e51b;
    --loader-bar-color: #988829;
    --loader-bar-height: 6px;
    }

