body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F94%2F16%2Fd0%2F9416d03b836bbb329a211d60da6a8884.jpg);
  color: white;
  background-attachment: fixed;
}

body a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#settingsIcon {
    width: 3vh;
    margin-top: 5px;
    margin-right: 5px;
  }

h1 {
  text-align: center;
  color: white;
}

h4:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: 
  -webkit-linear-gradient(left, yellow, orange,yellow, red); }

audio
{
  margin: 10px;
  height: 20px;
  display: none;

}

.CharacterDetails img {
  border-style: ridge;
  border-color: #f5e51b;
}

.avatarBio {
  max-width: 100%;
  border-radius: 10%;
}


.avatarName {
  color: white;
  font-weight: bold;
}